/home/*
!/home/.gnupg
!/home/bin
!/home/git-hooks
!/home/sfx
!/home/.bashrc
!/home/.gitconfig
!/home/.gitignore
!/home/.nanorc
!/home/.packages.conf
!/home/.profile

/home/.gnupg/*
!/home/.gnupg/gpg.conf
!/home/.gnupg/gpg-agent.conf
!/home/.gnupg/S.gpg-agent
!/home/.gnupg/S.gpg-agent.ssh
